<input type="button" value="Добавить" class="btn btn-default" (click)="addWorker()" />
<table>
  <thead>
    <tr>
      <td>Номер по порядку</td>
      <td>id пользователя</td>
      <td>Имя пользователя</td>
      <td>День роздения</td>
      <td>Месяц рождения</td>
    </tr>
  </thead>
  <tbody class="demotable">
    <tr *ngFor="let user of users" >
      <ng-template [ngTemplateOutlet]="loadTemplate(user)"
      [ngTemplateOutletContext]="{ $implicit: user}">
      </ng-template>
    </tr>
  </tbody>

</table>

<ng-template #readOnlyTemplate let-worker>
<td>{{worker.id}}</td>
<td>{{worker.fio}}</td>
<td>{{worker.day}}</td>
<td>{{worker.month}}</td>
<td>
    <input type="button" value="Изменить" class="btn btn-default" (click)="editWorker(worker)" />
</td>
<td>
    <input type="button" value="Удалить" (click)="deleteWorker(worker)" class="btn btn-danger" />
</td>
</ng-template>

<!--шаблон для редактирования-->
<ng-template #editTemplate>
<td>
    <input type="number" [(ngModel)]="editedWorker.id" readonly disabled class="form-control" />
</td>
<td>
    <input type="text" [(ngModel)]="editedWorker.fio" class="form-control" />
</td>
<td>
    <input type="number" [(ngModel)]="editedWorker.day" class="form-control" />
</td>
<td>
  <input type="number" [(ngModel)]="editedWorker.month" class="form-control" />
</td>
<td>
    <input type="button" value="Сохранить" (click)="saveWorker()" class="btn btn-success" />
</td>
<td>
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
</td>
</ng-template>
